bookshop.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="BookShop">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ScientificProducts" type="ScientificProductsType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="ScientificProductsType">
        <xsd:sequence>
            <xsd:element name="Books">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Book" type="SBookType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SBookType">
    </xsd:complexType>
</xsd:schema>
