bookshop.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="BookShop">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ScientificProducts" type="ScientificProductsType"/>
                <xsd:element name="LeisureProducts" type="LeisureProductsType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="ScientificProductsType">
        <xsd:sequence>
            <xsd:element name="Books" type="SBooksRootType" />
            <xsd:element name="Journals" type="SJournalsRootType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SBooksRootType">
        <xsd:sequence>
            <xsd:element name="Book" type="SBookType"
                minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SBookType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:group ref="AuthorEditorXORGroup" />
            <xsd:element name="Publisher" type="xsd:string" />
            <xsd:element name="Year" type="xsd:gYear" />
            <xsd:element name="Abstract" type="xsd:string" minOccurs="0" />
            <xsd:element name="Edition" type="xsd:string" minOccurs="0" />
            <xsd:element name="ISBN" type="ISBNType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SJournalsRootType">
        <xsd:sequence>
            <xsd:element name="Journal" type="SJournalType"
                minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SJournalType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:element name="Volume" type="xsd:decimal" />
            <xsd:element name="Number" type="xsd:decimal" />
            <xsd:group ref="AuthorEditorXORGroup" />
            <xsd:element name="Year" type="xsd:gYear" />
            <xsd:element name="Publisher" type="xsd:string" minOccurs="0" />
            <xsd:element name="ImpactFlavor" type="xsd:decimal" minOccurs="0" />
            <xsd:element name="ToC" type="ToCType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LeisureProductsType">
        <xsd:sequence>
            <xsd:element name="Books">
                <xsd:complexType> <!-- TODO LBooksRootType -->
                    <xsd:sequence>
                        <xsd:element name="Book" type="LBookType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="Periodicals">
                <xsd:complexType> <!-- TODO LPeriodicalsRootType -->
                    <xsd:sequence>
                        <xsd:element name="Periodical" type="LPeriodicalType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LBookType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:element name="Author" type="xsd:string" maxOccurs="unbounded" />
            <xsd:element name="Publisher" type="xsd:string" />
            <xsd:element name="Year" type="xsd:gYear" />
            <xsd:element name="Edition" type="xsd:string" minOccurs="0" />
            <xsd:element name="Pages" type="xsd:decimal" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="Genre" type="GenreType" use="required" />
    </xsd:complexType>
    
    <xsd:complexType name="LPeriodicalType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:element name="Price" type="PriceType" />
            <xsd:element name="Publisher" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="AuthorEditorXORGroup">
        <xsd:choice>
            <xsd:element name="Author" type="xsd:string" maxOccurs="unbounded" />
            <xsd:element name="Editor" type="xsd:string" maxOccurs="unbounded" />
        </xsd:choice>
    </xsd:group>

    <xsd:simpleType name="ISBNType">
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="[0-9]{10}" />
            <xsd:pattern value="[0-9]{13}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="ToCType">
        <xsd:sequence>
            <xsd:element name="Article" type="ToCArticleType"
                maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ToCArticleType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:element name="Author" type="xsd:string" maxOccurs="unbounded" />
            <xsd:group ref="ToCArticlePositionGroup" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:group name="ToCArticlePositionGroup">
        <xsd:choice>
            <xsd:sequence>
                <xsd:element name="StartPage" type="xsd:decimal" />
                <xsd:element name="EndPage" type="xsd:decimal" />
            </xsd:sequence>
            
            <xsd:element name="Number" type="xsd:decimal" />
        </xsd:choice>
    </xsd:group>
    
    <xsd:simpleType name="GenreType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="thriller" />
            <xsd:enumeration value="horror" />
            <xsd:enumeration value="sci/fi" />
            <xsd:enumeration value="romance" />
            <xsd:enumeration value="literature" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="PriceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currency" type="currencyType"
                    use="required" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="currencyType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EUR" />
            <xsd:enumeration value="USD" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
