bookshop.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="BookShop">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ScientificProducts" type="ScientificProductsType"/>
                <xsd:element name="LeisureProducts" type="LeisureProductsType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="ScientificProductsType">
        <xsd:sequence>
            <xsd:element name="Books">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Book" type="SBookType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="Journals">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Journal" type="SJournalType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SBookType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:group ref="AuthorEditorXORGroup" />
            <xsd:element name="Publisher" type="xsd:string" />
            <xsd:element name="Year" type="xsd:gYear" />
            <xsd:element name="Abstract" type="xsd:string" minOccurs="0" />
            <xsd:element name="Edition" type="xsd:string" minOccurs="0" />
            <xsd:element name="ISBN" type="ISBNType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SJournalType">
        <xsd:sequence>
            <!-- TODO -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LeisureProductsType">
        <xsd:sequence>
            <!-- TODO -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="AuthorEditorXORGroup">
        <xsd:choice>
            <xsd:element name="Author" type="xsd:string" maxOccurs="unbounded" />
            <xsd:element name="Editor" type="xsd:string" maxOccurs="unbounded" />
        </xsd:choice>
    </xsd:group>

    <xsd:simpleType name="ISBNType">
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="[0-9]{10}" />
            <xsd:pattern value="[0-9]{13}" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
